*{
    margin: 0;
    padding: 5;
}
body{
    
    background-color: aquamarine;
}
.button {
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    height: auto;
    width: 3cm;
    align-content: center;
    
}
.container h2{
    color: black;
    font-size:20px;
    border-right: 2px solid black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    animation:mengetik 5s steps(300, end);
}
@keyframes mengetik{
    from{ width: 0;}
    to{ width: 100%;}
}

  
